*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(30, 4, 63), rgb(60, 8, 102), rgb(89, 20, 145));
    color: black;
}
h1{
    background-color: rgba(0, 0, 0, 0.616);
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 15px;
    height: 70px;
}
.formulario{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 15px;
    border-radius: 8px;
    width: 25%;
    color: white;
}
fieldset{
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
}
legend{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgb(104, 29, 175);
    border-radius: 9px;
}
.campo{
    position: relative;

}
.inpu{
    position: relative;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
    
}
.submit{
    margin-top: 10px;
    background:rgb(1, 82, 255) ;
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 9px;
}
.submit:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background:rgb(5, 219, 112);

}


